<a href="https://colab.research.google.com/github/ikneelagare/edd_1358_2021/blob/master/12Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:

# Diccionario (continuacion)

cliente_banco = {
    "id" : 1,
    "Nombres" : ["Luis", "Enrique"],
    "Paterno" : "Espitia ",
    "Materno" : "Naves",
    "Telefonos" : {
        "Casa" : 5520641207,
        "Celular" : 5677156255,
        "Trabajo" : 5514805786,
    },
    "Activo" : True,
    "Balance" : 356790.50,
    "Tarjetas_Credito" : ({"Tipo" : "Debito", "Saldo": 10000},
                          {"Tipo" : "Credito", "Saldo" : 12000})             
    
}

print(cliente_banco)
cliente_banco["Balance"] = cliente_banco["Balance"] - 1000.89
cliente_banco["Balance"] -= 1000.89
print(cliente_banco)

cliente_banco["Tarjetas"] = ({"Tipo" : "Debito", "Saldo" : 10000},
                             {"Tipo" : "Credito", "Saldo" : 12000},
                             {"Tipo" : "Credito", "Nivel" : "Oro", "Saldo" : 500000})

print(cliente_banco)
cliente_banco["Direccion"] = {"Calle" : "Sauces", "Numero" : 303}
print(cliente_banco)
cliente_banco.pop

{'id': 1, 'Nombres': ['Luis', 'Enrique'], 'Paterno': 'Espitia ', 'Materno': 'Naves', 'Telefonos': {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}, 'Activo': True, 'Balance': 356790.5, 'Tarjetas_Credito': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000})}
{'id': 1, 'Nombres': ['Luis', 'Enrique'], 'Paterno': 'Espitia ', 'Materno': 'Naves', 'Telefonos': {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}, 'Activo': True, 'Balance': 354788.72, 'Tarjetas_Credito': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000})}
{'id': 1, 'Nombres': ['Luis', 'Enrique'], 'Paterno': 'Espitia ', 'Materno': 'Naves', 'Telefonos': {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}, 'Activo': True, 'Balance': 354788.72, 'Tarjetas_Credito': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}), 'Tarjetas': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000})}
{'id': 1, 'Nombres': ['Luis', 'Enrique'], 'Paterno': 'Espitia ', 'Materno': 'Naves', 'Telefonos': {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}, 'Activo': True, 'Balance': 354788.72, 'Tarjetas_Credito': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}), 'Tarjetas': ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000}), 'Direccion': {'Calle': 'Sauces', 'Numero': 303}}

In [13]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
  print(x)

valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
print(pares)

for elemento in pares:
  print(f"{elemento[0]} = {elemento[1]}")

dict_keys(['id', 'Nombres', 'Paterno', 'Materno', 'Telefonos', 'Activo', 'Balance', 'Tarjetas_Credito', 'Tarjetas', 'Direccion'])
<class 'dict_keys'>
id
Nombres
Paterno
Materno
Telefonos
Activo
Balance
Tarjetas_Credito
Tarjetas
Direccion
1
['Luis', 'Enrique']
Espitia
Naves
{'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}
True
354788.72
({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000})
({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000})
{'Calle': 'Sauces', 'Numero': 303}
dict_items([('id', 1), ('Nombres', ['Luis', 'Enrique']), ('Paterno', 'Espitia '), ('Materno', 'Naves'), ('Telefonos', {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}), ('Activo', True), ('Balance', 354788.72), ('Tarjetas_Credito', ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000})), ('Tarjetas', ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000})), ('Direccion', {'Calle': 'Sauces', 'Numero': 303})])
id = 1
Nombres = ['Luis', 'Enrique']
Paterno = Espitia
Materno = Naves
Telefonos = {'Casa': 5520641207, 'Celular': 5677156255, 'Trabajo': 5514805786}
Activo = True
Balance = 354788.72
Tarjetas_Credito = ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000})
Tarjetas = ({'Tipo': 'Debito', 'Saldo': 10000}, {'Tipo': 'Credito', 'Saldo': 12000}, {'Tipo': 'Credito', 'Nivel': 'Oro', 'Saldo': 500000})
Direccion = {'Calle': 'Sauces', 'Numero': 303}

In [17]:
fruta = {"Nombre" : "Manzana", "Color" : "Rojo", "Estado" : "Chihuahua"}
mas_caracteristicas = {"Vitamina" : "D"}
fruta.update(mas_caracteristicas)
print(fruta)

{'Nombre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua', 'Vitamina': 'D'}

#Funciones
- Recibe de 0 a n argumentos de entrada
- Regresa un solo valor, aunque el valor se a none
- Tiene un nombre unico en el contexto
- Se pueden hacer sol odos cosas con funciones:
 - Definerla
 - LLamarla

In [25]:
def suma(a,b):
  return a+b

"""def suma(x,y):
   return None"""

def saludar():
  print("Hola, ¿como estas?")
  return None
x = 10 
y = 20
c = suma(x,y)
print(c)

saludar()

30
Hola, ¿como estas?

# None y las funciones
Aprovechar en el uso de none en el paso de parametros

In [26]:
def calcular(base , veces):
  if base != None:
    resultado = base * veces
  else:
    resultado = "Desconocido"
  return resultado

print(calcular(4,2))
print(calcular(None,6))

8
Desconocido