<a href="https://colab.research.google.com/github/ikneelagare/edd_1358_2021/blob/master/19Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Lectura
archivo = open("frutas.txt", "rt")

info = archivo.read()
print(info.upper())

archivo.close()

LIMON, AGUACATE, FRESA, MANZANA
CIRUELA, CAPULIN, NARANJA
PERA, KIWI

In [12]:
# readline()
archivo = open("frutas.txt", "rt")

info = archivo.readline()

while info != "":
  print(info,end="")
  info = archivo.readline()


archivo.close

Limon, Aguacate, Fresa, Manzana
Ciruela, Capulin, Naranja
Pera, Kiwi

In [17]:
# readlines()

archivo = open("frutas.txt","rt")

info = archivo.readlines()
print(info)

frutas = []
for i in info:
  frutas.append(i.strip())

frutas_final = []
for e in frutas:
  for fruta in e.split(","):
    frutas_final.append(fruta.strip())
print(frutas_final)    



print(frutas)

archivo.close

['Limon, Aguacate, Fresa, Manzana\n', 'Ciruela, Capulin, Naranja\n', 'Pera, Kiwi\n']
['Limon', 'Aguacate', 'Fresa', 'Manzana', 'Ciruela', 'Capulin', 'Naranja', 'Pera', 'Kiwi']
['Limon, Aguacate, Fresa, Manzana', 'Ciruela, Capulin, Naranja', 'Pera, Kiwi']

# POO con Python
- Clase
- Objetos 
- Atributos
- Metodos
- Metdodo constructor
- Encapsulamiento(publico y privado)
- Herencia

Para declarar clases en python se utiliza la palabra Class

In [24]:
class Persona:
  def __init__(self,edd, est):
    self.edad = edd
    self.estatura = est
  def to_string(self):
    print(f"Edad = {self.edad}, Estatura = {self.estatura}")


per1 = Persona(19,1.65)
per1.to_string()
per1.estatura = 10.5
per1.to_string()

Edad = 19, Estatura = 1.65
Edad = 19, Estatura = 10.5